@model SalesWebMvc.Models.Seller;

@{
    ViewData["Title"] = "Delete";
}

<h2>@ViewData["Title"]</h2>
<br />

<h4>Tem certeza que deseja deletar o vendedor <strong>@Html.DisplayFor(model => model.Name)</strong>?</h4>
<div>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            <strong>Nome: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <strong>E-mail: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            <strong>Nascimento: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            <strong>Salário: </strong>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseSalary)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger"/>
        <a asp-action="Index" class="btn btn-default">Voltar para lista</a>
    </form>

</div>